body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color:white;
  font-family: cursive;
}

.container {
  background: linear-gradient(135deg,rgb(13, 202, 202),rgb(214, 30, 177));
  width: 400px;
  padding: 20px;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.textarea {
  resize: none;
  width: 100%;
  height: 150px;
  font-size: 18px;
  font-family: sans-serif;
  padding: 15px;
  box-sizing: border-box;
  border: solid 2px darkgray;
  border-radius: 10px;
}

h2,h3{
  color: white;
}
.counter-container {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}

.counter-container p {
  font-size: 18px;
  color: white;
}

.total-counter {
  font-weight:bolder;
  color: white;
}

.remaining-counter {
  color: white;
  font-weight:bolder;
}